{# NIVEAU 2 : héritage template N1 #}
{% extends "::main_n1.html.twig" %}

{% block body %}
        <div class="container">
        {% block taxi_main %}{% endblock taxi_main %}
        </div>
{% endblock body %}