{% block lddt_main %}
    <div class="container">
        <div id="wrapper">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="slider">
                        <img src="img/taxi-1.jpeg">
                        <img src="img/taxi-2.jpeg">
                        <img src="img/taxi-3.jpeg">
                    </div><!--fin du slider-->
                </div>
            </div><!--fin de row slider-->
            <!----------------section info taxi -------------------------->
            <div class="row spacer">
                <div class="col-md-12">
                    <section class="services">
                        <h2>les services</h2>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="services-post">
                                <span class="icon">
                                <i class="fa fa-taxi  fa-2x"></i>
                                </span>
                                    <div class="services-content">
                                        <h3>Taxi</h3>
                                        <p>Crossover climatisée, propreté extérieure et intérieure assurée Toutes distances Aéroports, Gares, courses Clientèle "affaires"</p>
                                    </div>
                                </div>
                            </div><!-- fin de md-6-->

                            <div class="col-md-6">
                                <div class="services-post">
                                <span class="icon">
                                <i class="fa fa-group fa-2x"></i>
                                </span>
                                    <div class="services-content">
                                        <h3>Transports d'enfants</h3>
                                        <p>Agrée sécurité sociale / MGEN / RAM Transports scolaires et instituts spécialisés (CDES)</p>
                                    </div>
                                </div>
                            </div><!-- fin de md-6-->

                            <div class="col-md-6" >
                                <div class="services-post">
                                <span class="icon">
                                <i class="fa fa-coffee fa-2x"></i>
                                </span>
                                    <div class="services-content">
                                        <h3>Rafraichissement</h3>
                                        <p>Si vous avez soif</p>
                                    </div>
                                </div>
                            </div><!-- fin de md-6-->

                            <div class="col-md-6">
                                <div class="services-post">
                                <span class="icon">
                                <i class="fa fa-globe fa-2x"></i>
                                </span>
                                    <div class="services-content">
                                        <h3>Transports rapide de marchandise</h3>
                                        <p>Messagerie, plis urgents, colis</p>
                                    </div>
                                </div>
                            </div><!-- fin de md-6-->

                            <div class="col-md-6">
                                <div class="services-post">
                                <span class="icon">
                                <i class="fa fa-mobile-phone fa-2x"></i>
                                </span>
                                    <div class="services-content">
                                        <h3>Chargeur allume-cigare</h3>
                                        <p>A disposition pour vos téléphones portables et tablettes</p>
                                    </div>
                                </div>
                            </div><!-- fin de md-6-->

                            <div class="col-md-6">
                                <div class="services-post">
                                <span class="icon">
                                <i class="fa fa-file-text-o  fa-2x"></i>
                                </span>
                                    <div class="services-content">
                                        <h3>devis gratuit</h3>
                                        <p>Pour tout cours éloigner ou autre demande specifique </p>
                                    </div>
                                </div>
                            </div><!-- fin de md-6-->

                        </div><!--fin de row-->
                    </section><!--fin de section service-->
                </div><!--fin de md-12-->
            </div><!--fin de row-->

            <!---------------section geolocalisation et calendrier----->
            <div class="row spacer">
                <div class="col-md-7">
                    <section class="taxi">
                        <img class="img-taxi" src="img/taxi.jpg" alt="le taxi">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias consectetur modi nemo nisi porro saepe. Adipisci blanditiis consequatur debitis deleniti eos libero modi molestias nobis, perferendis perspiciatis sed temporibus.</p>
                    </section>
                </div><!--fin de md-7-->
                <div class="col-md-5">
                    <div id="map_taxi"></div>
                </div><!--fin de md-5-->

            </div><!--fin de row-->
            <div class="row spacer">
                <div class="col-md-7">
                    <div id="calendrier">
                        <table>
                            <thead>
                            <th>Horaire</th>
                            <th>Lundi</th>
                            <th>Mardi</th>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                            <th>Samedi</th>
                            <th>Dimanche</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="info_horaires_content">
                                    <div class="heur1">00h00</div>
                                    <div class="heur1">01h00</div>
                                    <div class="heur2">02h00</div>
                                    <div class="heur3">03h00</div>
                                    <div class="heur4">04h00</div>
                                    <div class="heur5">05h00</div>
                                    <div class="heur6">06h00</div>
                                    <div class="heur7">07h00</div>
                                    <div class="heur8">08h00</div>
                                    <div class="heur9">09h00</div>
                                    <div class="heur10">10h00</div>
                                    <div class="heur11">11h00</div>
                                    <div class="heur12">12h00</div>
                                    <div class="heur13">13h00</div>
                                    <div class="heur14">14h00</div>
                                    <div class="heur15">15h00</div>
                                    <div class="heur16">16h00</div>
                                    <div class="heur17">17h00</div>
                                    <div class="heur18">18h00</div>
                                    <div class="heur19">19h00</div>
                                    <div class="heur20">20h00</div>
                                    <div class="heur21">21h00</div>
                                    <div class="heur22">22h00</div>
                                    <div class="heur23">23h00</div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!--fin du calendrier-->
                </div><!--fin de md-7-->
                <div class="col-md-5">

                    <!--*********************** form avis client*******************-->
                    <!--             <form action="" id="avis" class="form-group well clearfix">
                                     <h3>Les avis client</h3>
                                     <label>Objet</label> <br>
                                     <input type="text" placeholder="Objet" class="form-control">
                                     <br>
                                     <label>Description</label> <br>
                                     <textarea class="form-control"></textarea>
                                     <br>
                                     <input type="submit" value="envoye" class="pull-right">
                                 </form>-->

                    <section class="avis">
                        <h3>Les avis client</h3>
                        <article>
                            <p> objet :cours du dimanche matin</p>
                            <p>description :cette cours etais super bonne accueil
                                veicule propre </p>
                            <p>bibi200 le 17/01/2016 15h30</p>
                        </article>

                        <!--il faut etre connecter pour deposer un avis -->
                        <div class="btn btn-primary">depose un avis</div>
                    </section>

                </div><!--fin de md-5-->
            </div><!--fin de row-->
        </div><!--fin de wrapper-->
    </div><!--fin de container-->
{% endblock lddt_main %}
